
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #480CA8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: blue;
    width: 100%;
    height: 100%;
    min-height: 75px;
    background-color: #7209B7;
}

.navbar .logo{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-left: 40px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-right: 30px;
}

.navbar a{
    color: #F72585;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.navbar a:hover{
    color:white;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 200px;

}

.container .about-me{
    background-color: #4895EF;
    min-height: 300px;
    max-width: 60%;
    border-radius: 70px;
}

.container .about-me h2{
    color: #F72585;
    text-align: center;
    font-size: 50px;
    
}

.container .about-me p{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    font: bold 20px Arial, Helvetica, sans-serif;
    color:azure;
}

.container .hobbies{
    background-color: #4895EF;
    min-height: 300px;
    max-width: 60%;
    border-radius: 70px;
}

.container .hobbies h2{
    color: #F72585;
    text-align: center;
    font-size: 50px;
    
}

.container .hobbies p{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    font: bold 20px Arial, Helvetica, sans-serif;
    color:azure;
}

#socials{
    color: #F72585;
    text-align: center;
    font-size: 40px;
    text-decoration: 2px underline;
}


.contact-container{
    display: flex;
    justify-content: center;
    gap: 8em;
}

.social-logo img{
    max-height: 100px;
}


.chaewon-container{
    display: flex;
    justify-content: center;
    background-color: none;
}

.chaewon img{
    width: 1000px;
    position: sticky;
}

.space {
    margin: 100px;
}



.back-to-top{
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 20px;
}

.back-to-top img{
    max-width: 40px;
}

.back-to-top button:hover{
    background-color: purple;
}