
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("./images/seamless\ background\ 5.gif");
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: blue;
    width: 100%;
    height: 100%;
    min-height: 75px;
    background-color: #7209B7;
}

.navbar .logo{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Permanent Marker', cursive;
    color: black;
    margin-left: 40px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-right: 30px;
}

.navbar a{
    color: #F72585;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}

.navbar a:hover{
    color:white;
}

.heading{
    color: white;
    font-size: 100px;
    font-weight: 900;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 200px;

}

.container .about-me{
    background-color: #4895EF;
    min-height: 300px;
    max-width: 60%;
    border-radius: 70px;
}

.container .about-me h2{
    color: #F72585;
    text-align: center;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: solid underline;
    
}

.container .about-me p{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;

    font: bolder 30px 'Josefin Sans', sans-serif;;

    color:azure;
}

.about-me img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.mbti{
    padding-top: 10px;
    text-align: center;
    font: 600 50px 'Permanent Marker', cursive;
    color: red;

}

#virtuoso{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container .hobbies{
    background-color: #4895EF;
    min-height: 50px;
    min-width: 800px;
    max-width: 60%;
    border-radius: 70px;
}

.container .hobbies h2{
    color: #F72585;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    
}

.container .hobbies p{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    font: bold 20px Arial, Helvetica, sans-serif;
    color:azure;
}

.games-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 500px;
}

.game-container{
    position: relative;
    width: 40%;
    margin-bottom: 20px;
}

.game-box{
    font-size: xx-large;
    text-align: center;

}

.game-image{
    opacity: 1;
    min-width: 100%;
    display: block;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 30px;
}

.game-logo{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    color: #F72585;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;

}

.game-container:hover .game-image{
    opacity: 0.3;
}

.game-container:hover .game-logo{
    opacity: 1;
}

#socials{
    color: #F72585;
    text-align: center;
    font-size: 40px;
    text-decoration: 2px underline;
    font-family: 'Permanent Marker', cursive;
    
}


.contact-container{
    display: flex;
    justify-content: center;
    gap: 8em;
}

.social-logo img{
    max-height: 100px;
}

#github{
    background-color: white;
    border-radius: 20px;
}


.chaewon-container{
    display: flex;
    justify-content: center;
    background-color: none;
    font-family: 'Permanent Marker', cursive;

}


.chaewon img{
    width: 400px;
    position: sticky;
}

.space {
    margin: 100px;
}



.back-to-top{
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 20px;
}

.back-to-top img{
    max-width: 40px;
}

.back-to-top img:hover{
    background-color: purple;
}